@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    /* background */
    --main-bg: #010101;
    /* typograhy */
    --font: "Inter", sans-serif;
    /* font colors */
    --light-fnt: #ECF2F8;
    --red-fnt: #ed1414;
    --red-fnt2: #cb0125;
    --darkgray-fnt: #89929B;
    --gray-fnt: #C6CDD5;
    /* font sizes */
    --heading: 3rem;
    --subheading: 1.5rem;
    --paragraph: 1rem;
    --small: 0.9rem;
    --v-small: 0.7rem;
    /* font weights */
    --large: 800;
    --medium: 600;
    --normal: 400;
    --light: 300;
    --ultra-light: 200;
    /* spacings */
    --main-padding: 2rem 0rem 0rem 4rem;
    --sub-padding: 2rem 2rem;
    --header-size: 5rem;
    --main-margin: 10rem 4rem 2rem 4rem;
    --margin-two: 2rem;   
    --margin-one: 1rem;
    /* shadow box */
    --shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var( --main-bg);
    font-family: var( --font);
    color: var(--light-fnt);
}
nav {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
}
.logo-wrapper {
    display: flex;
    flex-direction: row;
    width: 17%;
    justify-content: space-around;
}
#logo {
    border-radius: 50%;
}
.logo-text {
    font-size: 0.8rem;
    font-weight: var(--large);
    padding: 0.7rem 0.5rem;
    line-height: 1.2rem;
}
.red {
    color: var(--red-fnt);
}
.nav-links {
    padding-top: 1rem;
    display: flex;
    list-style: none;
    width: 44%;
    justify-content: space-between;
    text-transform: uppercase;
}
.nav-links .nav-link {
    text-decoration: none;
    color: var(--light-fnt);
    font-size: var(--small);
    font-weight: var(--light);
    letter-spacing: 0.5px;
    padding-bottom: 0.5rem;
}   
.nav-links .sample {
    border-bottom: 2px solid var(--red-fnt2);
}
.hero {
    padding: 4rem 0 1rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
}
.hero-one {
    grid-column: 1/ 2;
    grid-row: 2;
}
.hero-two {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    background-image: url('images/sample2.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadow)

}
.slogan {
    font-size: 3.5rem;
    font-weight: var(--large);
    line-height: 4.1rem;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 1px white;
}
.textfillred {
    -webkit-text-stroke: 1px var(--red-fnt);
}
p {
    color: var(--gray-fnt);
    line-height: 1.6rem;
    font-size: var(--normal);
    font-weight: var(--ultra-light);

}
.slogan-para {
    margin-top: 2.5rem;
    width: 90%;
}
.infos {
    margin: var(--margin-one);
    display: flex;
    justify-content: flex-end;
}
.info {
    margin-right: 4rem;
    line-height: 1.3rem;
}
.info .name {
    font-size: var(--v-small);
    color: var(--darkgray-fnt);
}
.info .name2 {
    font-weight: var(--light);
    color: var(--light-fnt - 0.5rem);
    font-size: var(--small);
}
.about {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(70px, auto);
    margin-top: 8rem;
    padding: 1rem 4rem 1rem 0;
    gap: 3rem;
}
.about-one {
    grid-column: 1 / 5;
    grid-row: 1 / 9;
    background-image: url('images/sample.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.about-two {
    grid-column: 5 / 8;
    grid-row: 1 / 9;
}
.about-title {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: var(--large);
    letter-spacing: 0.1rem;
    margin-top: 4rem;
}
.reddish {
    color: var(--red-fnt2);
}
.about-para {
    margin-top: 1rem;
}
.about-info .mvp {
    margin-top: 2rem;
    border: 1px solid rgba(100, 0, 0, 0.9);
    border-radius: 0.4rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    background-color: rgba(100, 0, 0, 0.1);
}
.about-info .mvp h3 {
    margin-bottom: 0.5rem;
}
.about-info .mvp p {
    color: var(--light-fnt);
}
